name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Configure AWS credentials
      uses: robin-aws/configure-aws-credentials@cognito
      with:
        cognito-identity-pool-id: us-west:cc186341-855a-42de-b82b-73e91665faf0
        aws-region: us-west-2
